.App {
  background-color: #181c2a;
  color: #dda50c;
}

/* top-pane {
  
} */

.pane {
  display: flex;
  height: 50vh;
}

.editor-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding: .5rem;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 1px;
  border-top-right-radius: .5rem;
  border-top-right-radius: .5rem;
}

.collapse-expand-btn {
  text-decoration:none;
  text-align: center;
  font-weight: 700;
  border-radius: 1.2rem;
  background-color: #22283f;
  color: #dda50c;
  transform: all 0.2s;
}

