.top-pane {
  background-color: #181c2a;
  color: #dda50c;
}

.pane {
  display: flex;
  height: 50vh;
}

.editor-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding: .5rem;
  transform: ease 0.5s;
}

.editor-container.collapsed {
  flex-grow: 0;
  /* display: none; */
}

.editor-container.collapsed .code-mirror-wrapper{
  
  display: none;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 1px;
}

.collapse-expand-btn {
  text-decoration:none;
  text-align: center;
  font-weight: 700;
  border-radius: 1.2rem;
  background-color: #22283f;
  color: #dda50c;
  transform: ease 0.5s;
}

.collapse-expand-btn:hover {
  color: #181c2a;
  background-color: #dda50c;
}

.CodeMirror {
  height: 100% !important;
}
.code-mirror-wrapper {
  flex-grow: 1;
  border-radius: .5rem;
  overflow: hidden;
}